In [74]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

file_path = '/Users/anasoni/Downloads/Big_Data_DIS/Final_project/imdb_top_1000.csv'

df_raw = pd.read_csv(file_path)

#print(df_raw['Certificate'].unique())

rating_age_map = {
    'A': 18, 'U': 0, 'UA': 7, 'U/A': 7, 'PG': 8, 'PG-13': 13, 'R': 17, 'G': 0, 'Passed': 0, 'Approved': 0, 
    'GP': 10, 'TV-14': 14, 'TV-MA': 17, 'TV-PG': 10, '16': 16, 'Unrated': None, 'NaN': None       
}
df_raw['Certificate'] = df_raw['Certificate'].map(rating_age_map)

df_raw['Runtime'] = df_raw['Runtime'].str.extract('(\d+)').astype(int)
df_raw['Genre'] = df_raw['Genre'].str.split(', ')

tfidf = TfidfVectorizer(stop_words='english')
df_raw['overview_tfidf'] = list(tfidf.fit_transform(df_raw['Overview']).toarray())

encoder = OneHotEncoder()
directors_encoded = encoder.fit_transform(df_raw[['Director']])

df_raw

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,overview_tfidf
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,18.0,142,[Drama],9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,18.0,175,"[Crime, Drama]",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,7.0,152,"[Action, Crime, Drama]",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,18.0,202,"[Crime, Drama]",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,0.0,96,"[Crime, Drama]",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,18.0,115,"[Comedy, Drama, Romance]",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,0.0,201,"[Drama, Western]",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,0.0,118,"[Drama, Romance, War]",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97,"[Drama, War]",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86,"[Crime, Mystery, Thriller]",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [75]:
nan_rows = df_raw[df_raw.isna().any(axis=1)]

print(nan_rows)

                                           Poster_Link  \
18   https://m.media-amazon.com/images/M/MV5BNjViNW...
20   https://m.media-amazon.com/images/M/MV5BOTc2ZT...
30   https://m.media-amazon.com/images/M/MV5BYjBmYT...
32   https://m.media-amazon.com/images/M/MV5BZjc4ND...
46   https://m.media-amazon.com/images/M/MV5BZmY2Nj...
..                                                 ...
993  https://m.media-amazon.com/images/M/MV5BYTE4YW...
995  https://m.media-amazon.com/images/M/MV5BNGEwMT...
996  https://m.media-amazon.com/images/M/MV5BODk3Yj...
998  https://m.media-amazon.com/images/M/MV5BZTBmMj...
999  https://m.media-amazon.com/images/M/MV5BMTY5OD...

               Series_Title Released_Year  Certificate  Runtime  \
18                 Hamilton          2020         13.0      160
20          Soorarai Pottru          2020          0.0      153
30                  Seppuku          1962          NaN      133
32    It's a Wonderful Life          1946          8.0      130
46           Hotaru no haka          1988          0.0       89
..                      ...           ...          ...      ...
993                  Blowup          1966         18.0      111
995  Breakfast at Tiffany's          1961         18.0      115
996                   Giant          1956          0.0      201
998                Lifeboat          1944          NaN       97
999            The 39 Steps          1935          NaN       86

                           Genre  IMDB_Rating  \
18   [Biography, Drama, History]          8.6
20                       [Drama]          8.6
30      [Action, Drama, Mystery]          8.6
32      [Drama, Family, Fantasy]          8.6
46       [Animation, Drama, War]          8.5
..                           ...          ...
993   [Drama, Mystery, Thriller]          7.6
995     [Comedy, Drama, Romance]          7.6
996             [Drama, Western]          7.6
998                 [Drama, War]          7.6
999   [Crime, Mystery, Thriller]          7.6

                                              Overview  Meta_score  \
18   The real life of one of America's foremost fou...        90.0
20   Nedumaaran Rajangam "Maara" sets out to make t...         NaN
30   When a ronin requesting seppuku at a feudal lo...        85.0
32   An angel is sent from Heaven to help a despera...        89.0
46   A young boy and his little sister struggle to ...        94.0
..                                                 ...         ...
993  A fashion photographer unknowingly captures a ...        82.0
995  A young New York socialite becomes interested ...        76.0
996  Sprawling epic covering the life of a Texas ca...        84.0
998  Several survivors of a torpedoed merchant ship...        78.0
999  A man in London tries to help a counter-espion...        93.0

                   Director               Star1              Star2  \
18              Thomas Kail  Lin-Manuel Miranda       Phillipa Soo
20            Sudha Kongara              Suriya           Madhavan
30         Masaki Kobayashi     Tatsuya Nakadai     Akira Ishihama
32              Frank Capra       James Stewart         Donna Reed
46            Isao Takahata     Tsutomu Tatsumi    Ayano Shiraishi
..                      ...                 ...                ...
993  Michelangelo Antonioni      David Hemmings   Vanessa Redgrave
995           Blake Edwards      Audrey Hepburn     George Peppard
996          George Stevens    Elizabeth Taylor        Rock Hudson
998        Alfred Hitchcock   Tallulah Bankhead        John Hodiak
999        Alfred Hitchcock        Robert Donat  Madeleine Carroll

                Star3                   Star4  No_of_Votes Gross  \
18    Leslie Odom Jr.  Renée Elise Goldsberry        55291   NaN
20       Paresh Rawal       Aparna Balamurali        54995   NaN
30     Shima Iwashita           Tetsurô Tanba        42004   NaN
32   Lionel Barrymore         Thomas Mitchell       405801   NaN
46    Akemi Yamaguchi       Yoshiko Shinohara       235231   NaN
..                ...                     ...          ...   ...
993       Sarah Miles             John Castle        56513   NaN
995     Patricia Neal             Buddy Ebsen       166544   NaN
996        James Dean           Carroll Baker        34075   NaN
998     Walter Slezak          William Bendix        26471   NaN
999    Lucie Mannheim          Godfrey Tearle        51853   NaN

                                        overview_tfidf
18   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
30   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
32   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
46   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
..                                                 ...
993  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
995  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
996  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
998  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
999  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[286 rows x 17 columns]

In [36]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# Example function to calculate similarity
def calculate_similarity(df, index):
    similarities = {}
    target = df.iloc[index]
    for i, row in df.iterrows():
        if i != index:
            sim_score = 0
            # Combine weighted scores from different features
            sim_score += cosine_similarity([target['overview_tfidf']], [row['overview_tfidf']])[0][0]
            # Add other similarities, weighted appropriately
            similarities[row['Series_Title']] = sim_score
    return sorted(similarities.items(), key=lambda x: x[1], reverse=True)

def recommend_movies(title, top_n=10):
    index = df_raw[df_raw['Series_Title'] == title].index[0]
    recommendations = calculate_similarity(df_raw, index)
    return recommendations[:top_n]

In [37]:
recommend_movies('The Dark Knight')

[('Batman Begins', 0.2044888658657493),
 ('The Dark Knight Rises', 0.17761258251614476),
 ('Joker', 0.09853672377205022),
 ('Kill Bill: Vol. 1', 0.09273886468830327),
 ('La battaglia di Algeri', 0.08940649780155555),
 ('The Hurricane', 0.08039428178468234),
 ('Mulan', 0.07745579884006172),
 ('Wreck-It Ralph', 0.07729067757141043),
 ('Batman: Mask of the Phantasm', 0.07450408360309729),
 ('Jaws', 0.07192009751558805)]

In [72]:
df = df_raw

print(df.shape)

df['Released_Year'] = pd.to_numeric(df['Released_Year'], errors='coerce')
print(df.shape)
df['Runtime'] = pd.to_numeric(df['Runtime'], errors='coerce')
df.shape
df['IMDB_Rating'] = pd.to_numeric(df['IMDB_Rating'], errors='coerce')
df.shape
df['Meta_score'] = pd.to_numeric(df['Meta_score'], errors='coerce')
print(df.shape)

df.dropna(inplace=True)  # Remove rows with NaNs for simplicity
print(df.shape)

# The issue is dropping na gets rid of a lot of rows
# We should first only drop rows missing data for features we will be using
# And maybe instead of dropping row but assigning an average or predicting what it could be using the other rows

(1000, 17)
(1000, 17)
(1000, 17)
(713, 17)

1. Decide how to deal with NaN rows
2. Calculate similarity score for four numeric features (IMDB, Meta score, release year, runtime)
3. Turn difference scores into 0 to 1 measurement (percent) to standardize it
4. Apply wieghts
5. Calculate best recommendations